{% from "macros/tags.njk" import tags %}

{% macro postCard(post) %}
  <article class="post-card">
    <time datetime="{{ page.date }}" class="text-base text-dark-4 font-bold">
      {{ post.data.date | prettyDate }}
    </time>
    <div class="">
      <a class="font-bold text-2xl text-primary" href="{{ post.url | url }}">{{post.data.title}}</a>
    </div>
    <div>{{ tags(post.data.tags) }}</div>
  </article>
{% endmacro %}