{% from "macros/tags.njk" import tags %}

{% macro postCard(post) %}
  <section class="mt-3 py-3 px-2 shadow-sm hover:shadow-lg">
    <p class="text-sm font-semibold text-primary">{{ post.data.date | prettyDate }}</p>
    <div class="pb-3">
      <a class="font-bold text-2xl text-secondary" href="{{ post.url | url }}">{{post.data.title}}</a>
    </div>
    <div class="pb-3">
      <p>{{ post.data.tldr }}</p>
    </div>
    <div>{{ tags(post.data.tags) }}</div>
  </section>
{% endmacro %}