--- 
layout: base.njk
title: "Blog Index" 
type: index 
---

{% from "macros/tags.njk" import tags %}
{% from "macros/cards.njk" import postCard %}

{% include 'partials/blog-nav.njk' %}

<header class="container mx-auto px-5 mt-16 mb-8 max-w-screen-md">
  {% include 'partials/blog-header.njk' %}
</header>

{% set collectionTags = collections.allTags %}
<div class="the-box">
  <p class="text-2xl">My interests</p>
  <div class="pt-2 text-lg">
    {{ tags(collectionTags) }}
  </div>
</div>

{# <section class="the-box mt-10 md:py-20">
  {% for year, yearPosts in collections.postsByYear %}
    <article class="mt-3">
      <h2 class="font-bold text-2xl">{{ year }}</h2>
      <div class="grid">
        {% for post in yearPosts | reverse %}
          {{ postCard(post) }}
        {% endfor %}
      </div>
    </article>
  {% endfor %}
</section> #}

<section class="container max-w-screen-md mx-auto px-2 mt-6 md:py-20">
  <div class="grid divide-x-reverse divive-dark-0">
    {% for post in collections.posts %}
      {{ postCard(post) }}
    {% endfor %}
  </div>
</section>