<nav class="container max-w-screen-md mx-auto mt-7 px-5">
  <div class="flex flex-row">
    <div class="flex-grow order-1">
      <a href="/" class="text-lg lg:text-lg font-bold hover:underline text-secondary">
        Vighnesh's Musings
      </a>
    </div>
    <div class="flex-shrink order-last">
      {% include 'partials/socials.njk' %}
    </div>
  </div>
</nav>