<nav class="container max-w-screen-md mx-auto mt-7 px-5">
  <div class="flex flex-row">
    <div class="flex-grow order-1">
      <a href="/" class="text-lg lg:text-lg font-bold hover:underline text-secondary">
          Vighnesh's Musings
      </a>
    </div>
    <div class="flex-shrink order-last">
      <div class="grid grid-cols-2 my-auto">
        <img class="h-5 w-5 mx-2 my-1" src="/img/github.svg" />
        <img class="h-5 w-5 mx-2 my-1" src="/img/twitter.svg" />
      </div>
    </div>
  </div>
</nav>
