<div>
    <p class="font-normal text-5xl">Hello,</p>
    <p class="font-normal text-2xl py-5 md:py-3">
      I'm <a href="http://vighneshsk.in"><span class="font-semibold">Vighnesh SK</span></a>, who likes to build stuff, and won't hesitate to break
      stuff. It's always about the <span class="font-semibold text-secondary">fun, nothing else.</span>
      <br />
    </p>
  </div>
</div>
