<footer class="md:fixed mx-auto w-full bottom-0 bg-paper">
  <div class="my-5">
    <div class="flex flex-row">
      <div class="flex-grow text-center gaps-4">
        <a class="font-bold text-secondary" href="/">home</a>
      </div>
    </div>
  </div>
</footer>
