<footer>
  <div class="my-5">
    <div class="flex flex-row">
      <div class="flex-grow text-center gaps-4">
        <a class="font-bold text-gruvred" href="/">home</a>
        <a class="font-bold text-gruvred" href="/about">about</a>
      </div>
    </div>
  </div>
</footer>
