<div class="grid grid-cols-3 justify-items-center">
  <img class="h-8 w-8 mx-2 my-1" src="/img/github.svg" />
  <img class="h-8 w-8 mx-2 my-1" src="/img/twitter.svg" />
  <img class="h-8 w-8 mx-2 my-1" src="/img/linkedin2.svg" />
</div>
