<div class="grid grid-cols-2 my-auto">
  {% for service, info in socials %}
  <a href="{{ info.url }}" target="_blank">
    <img class="h-5 w-5 mx-2 my-1" src="/img/{{ info.icon }}" alt="vighnesh's {{ service }} profile"/>
  </a>
  {% endfor %}
</div>